/* -Avant de commencer à definir les propriétés assurez-vous
d'avoir relier ce fichier avec le fichier html */
/* -sélectionner les élements balises de html en utilisant leur
nom*/
/* sélectionner les class en utilisant . suivi du nom de la class  */
/* sélectionner les id en utilisant # suivi du nom de l'id  */

/* importion de polices de textes */
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

body {
  margin: 0;
}

/* header */
/* navbar */
/* la balise div qui a la class navbar */
div.navbar {
  /* positionner les élements sur une même ligne */
  display: flex;
  /* alignement horizontale */
  justify-content: space-between;
  /* alignement vertical */
  align-items: center;
  /* hauteur */
  height: 76px;
  padding: 0 70px;
}
/* la balise ul qui est dans la balise nav */
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
nav ul li a.active {
  color: #15539d;
  font-weight: bold;
  border-bottom: 2px solid #15539d;
  padding-bottom: 5px;
}
nav ul li a:hover {
  color: #15539d;
  border-bottom: 2px solid #15539d;
  padding-bottom: 5px;
}
/* banner */
div.banner {
  width: 100%;
  background: url(images/bg3.png) no-repeat top/cover;
}
/* selectionner la class overlay qui se trouve dans une div qui a la class banner */
.banner .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 500px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overlay h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  /* font-family: MODERNIZ, sans-serif; */
  font-family: "Patua One", serif;
}
.overlay p {
  max-width: 500px;
  font-size: 20px;
  word-spacing: 3px;
  line-height: 30px;
}

/* a propos */
/* la sestion qui a l'id about */
section#about {
  margin: 0 0 50px;
  padding: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .text {
  margin-right: 30px;
}
#about .text p {
  text-align: justify;
  margin-right: 30px;
  font-size: 16px;
  /* line-height: 25px;
  word-spacing: 4px;
  letter-spacing: 2px; */
  font-family: "roboto", "serif";
}
#about .text h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
#about .trait {
  margin-top: 0;
  height: 10px;
  width: 60px;
  background-color: #15539d;
  margin-bottom: 20px;
}

#about .profil {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border: 4px solid #15539d;
  /* ombre horizontal, vertical, effet de flou, rayon de propagation, couleur */
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.4);
}

#about img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  /* mettre l'image couvrir les dimensions */
  object-fit: cover;
  cursor: pointer;
  /* durée de transition */
  transition: 1s;
}
#about img:hover {
  border: 4px solid #15539d;
  transition: 1s;
  /* augmentation de la taille */
  transform: scale(1.1);
}

/* services */
#services {
  margin: 50px 0;
  padding: 0 50px;
}
#services .title {
  display: flex;
  align-items: center;
}
#services .title p {
  text-transform: uppercase;
  font-size: 20px;
}
#services .title .trait {
  margin-left: 5px;
  width: 150px;
  height: 2px;
  background-color: #15539d;
}
#services h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
}
#services .grid {
  /* mise en page */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
#services .grid .card {
  border: 1px solid #eee;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 1s;
}
#services .icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: #15539d;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .icon img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
#services .card h3 {
  font-size: 30px;
  text-transform: capitalize;
}

#services .grid .card:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  transition-duration: 1s;
  margin: 5px 0 0 5px;
  /* transform: scale(1.1); */
}

/* portfolio */
section#portfolio {
  margin: 70px 0;
  padding: 70px;
  background-color: #eee;
}
section#portfolio .grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
#portfolio h4 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
#portfolio .trait {
  width: 60px;
  height: 5px;
  background-color: #15539d;
  margin: 0 auto 50px;
}
#portfolio .grid-item {
  width: 30%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.2);
}
#portfolio .grid-item p {
  color: rgb(255, 0, 170);
  font-weight: bold;
  font-size: 18px;
  margin: 10px 20px 0;
}
#portfolio .grid-item p span {
  color: black;
  float: inline-end;
}
#portfolio .grid-item h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}
#portfolio .grid-item h3:hover {
  color: rgb(255, 0, 170);
  cursor: pointer;
}
#portfolio .grid-item img {
  width: 100%;
  border-radius: 20px 20px 0px 0;
  height: 200px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  transition: 2s;
}
#portfolio .grid-item img:hover {
  transform: scale(0.96);
}

/* contact */
#contact {
  margin: 50px 0;
  padding: 20px 50px;
}

#contact h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #15539d;
}
#contact .contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}
#contact img {
  width: 100%;
  object-fit: cover;
}
#contact form {
  width: 100%;
  border: 2px solid #15539d;
  padding: 50px 20px;
  border-radius: 10px;
  background-color: #eee;
}
#contact form input {
  width: calc(100% - 30px);
  /* height: 40px; */
  padding: 15px;
  border-radius: 10px;
}
#contact form label {
  font-weight: bold;
  font-size: 20px;
}
#contact form .name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 10px 0;
}
#contact form .name label {
  font-weight: normal;
  font-size: 15px;
}
#contact form textarea {
  width: calc(100% - 40px);
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
}
#contact form .message {
  margin: 20px 0;
  width: 100%;
}
#contact form button {
  padding: 10px;
  background-color: #15539d;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  transition-duration: 1s;
}
#contact form button:hover {
  transform: scale(0.9);
}

#contact form textarea,
#contact form input {
  outline: none;
  border: 2px solid #ccc;
}
#contact form textarea:focus,
#contact form input:focus {
  outline: none;
  border: 2px solid #15539d;
}

/* responsive design */
/* écran largeur <=768px */
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  /* about */
  section#about {
    display: inherit;
    margin: inherit;
  }
  #about .text h2 {
    font-size: 30px;
  }
  #about .text {
    margin-right: inherit;
    margin-bottom: 30px;
  }
  #about .profil {
    width: 450px;
    height: 450px;
    margin: 0 auto;
  }
  #about .profil img {
    width: 450px;
    height: 450px;
  }
  /* services */
  #services .grid {
    grid-template-columns: 1fr 1fr;
  }
  /* portfolio */
  #portfolio .grid-item {
    width: 45%;
  }
  /* conatct */
  #contact .contact-container {
    grid-template-columns: 1fr;
  }
}
/* <=500px */
@media (max-width: 500px) {
  /* about */
  #about .text h2 {
    font-size: 30px;
  }
  #about .profil {
    width: 300px;
    height: 300px;
  }
  #about .profil img {
    width: 300px;
    height: 300px;
  }
  /* portfolio */
  #portfolio .grid-item {
    width: 100%;
  }
  /* services */
  #services .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  /* about */
  #about .profil {
    width: 250px;
    height: 250px;
  }
  #about .profil img {
    width: 250px;
    height: 250px;
  }
}
